html, body {
  margin: 0;
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAACBJREFUGFdjZGBg+M/AwMDIgAYwBGDyREvAjSVaB9wJAM+bAgclldMqAAAAAElFTkSuQmCC
   ) repeat;
}

canvas {
  display: block;
  margin: auto;
  padding: 50px;
}
