html, body {
  margin: 0;
  padding: 0;
  background-color: 249, 231, 239;
}
canvas {
  display: block;
  margin:auto;
}

#p5sketch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
